* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--light-color);
}

.card-country {
    width: 320px;
    height: 213px;
    display: grid;
    grid-template-rows: minmax(100%, 1fr);
    grid-template-areas: "stack";
    overflow: hidden;
    color: rgb(236, 240, 241);
}

.card-country img,
.card-country,
.card-country-body {
    grid-area: stack;
}

.card-country img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-country-body {
    grid-area: stack;
    background-color: rgba(37, 38, 39, 0.9);
    transform: translateY(calc(100% - 4rem));
    transition: transform 600ms;
}

.card-country-header {
    height: 4rem;
    background-color: rgb(20, 20, 31);
}

.card-country-header h3 {
    margin-left: 0.5rem;
    background-color: rgb(20, 20, 31);
}

.card-country:hover .card-country-body {
    transform: none;
}