* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Archivo', sans-serif;
    background-image: linear-gradient(to left bottom, rgba(25, 22, 84, 0.7), rgba(67, 198, 172, 0.7)), url(1.jpg);
}

.container {
    display: grid;
    justify-content: center;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}

.text-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #2f2c45;
    background: #272530;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
}

.label::before {
    content: "";
    height: 5px;
    background: #272530;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus {
    border: 2px solid #7e4ccb;
}

.text-input:focus+.label,
.filled {
    top: -10px;
    color: #7e4ccb;
    font-size: 14px;
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder {
    opacity: 1;
}

#details {
    display: none;
}


/** carousel style */

.carousel-item img {
    max-height: 500px;
}


/** my codes */

.card-neighbors-bg img {
    height: 120px;
}

#details {
    opacity: 0;
}

#loading {
    display: none;
}

.card-bg {
    /* background-image: linear-gradient(to left, #333333, #ACACAC); */
    color: #FFFFFF;
    background: #272530;
}

.neighbors-bg {
    /* background-image: linear-gradient(to left, #333333, #ACACAC); */
    background: #272530;
}

.card-neighbors-bg {
    /* background-image: linear-gradient(to left, #FFFFFF, #ACACAC); */
    /* background-color: #ACACAC; */
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-top: 10px;
    color: #272530;
}

.details-header-bg {
    background-color: rgb(51, 51, 51);
    color: #FFFFFF;
}

@media only screen and (max-width: 1100px) {
    .card-neighbors-bg img {
        height: 90px;
    }
}